pandas==0.25.3
numpy==1.18.1
seaborn==0.9.0
matplotlib==3.1.2
missingno==0.4.2
scipy==1.2.0
imgkit==1.0.2
scikit-posthocs==0.6.2
cufflinks==0.17.0
dython==0.4.0
more-itertools==8.1.0
joblib==0.14.1
sklearn==0.0
scikit-learn==0.22.1
eli5==0.10.1
plotly==4.3.0
xgboost==0.80
catboost==0.20
vecstack==0.4.0
mlens==0.2.3
mlxtend==0.17.0
imbalanced-learn==0.6.1
shap==0.34.0
featuretools==0.13.1
statsmodels==0.9.0
scikit-plot==0.3.7
gunicorn==20.0.4
