{% extends "bootstrap/base.html" %}
{% block content %}
<body style="background-color:#FFFFFF;">

<div class="panel-heading" align="center" class="jumbotron" style="background-color:#E5E5FF !important; width: 100%; margin: 0;">
    <h1 style="line-height: 150%;font-size: 202%; "><b>Classify Annual Income of US Citizens Based on their Socio-Economic Information (<=50K or >50K dollars)</b></h1>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#7F0000 ">Insert Features and the Chosen Classifier Algorithm:</div>
      <div class="panel-body" >

      	<form action="{{ url_for('classify')}}" method="POST" style="display: inline;" >
			<input type="text" placeholder="Age" style="width: 5%; font-size: 110%;" name="age">
            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%; ">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('workclass').value=this.options[this.selectedIndex].text; document.getElementById('workclass').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Private">Private</option>
                <option value="Self-emp-not-inc">Self Employed Not Incorporated</option>
                <option value="Self-emp-inc">Self Employed Incorporated</option>
                <option value="Federal-gov">Federal Government</option>
                <option value="Local-gov">Local Government</option>
                <option value="State-gov">State Government</option>
                <option value="Without-pay">Without Pay</option>
                <option value="Never-worked">Never Worked</option>
              </select>
              <input type="text" name="workclass" id="workclass"
                     placeholder="Workclass" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>









            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('education').value=this.options[this.selectedIndex].text; document.getElementById('education').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Preschool">Preschool</option>
                <option value="1st-4th">1st-4th</option>
                <option value="5th-6th">5th-6th</option>
                <option value="7th-8th">7th-8th</option>
                <option value="9th">9th</option>
                <option value="10th">10th</option>
                <option value="11th">11th</option>
                <option value="12th">12th</option>
                <option value="High School Graduated">High School Graduated</option>
                <option value="Professor at School">Professor at School</option>
                <option value="Associate Acdm">Associate Acdm</option>
                <option value="Associate Voc">Associate Voc</option>
                <option value="Some College">Some College</option>
                <option value="Bachelors">Bachelors</option>
                <option value="Masters">Masters</option>
                <option value="Doctorate">Doctorate</option>
              </select>
              <input type="text" name="education" id="education"
                     placeholder="Education" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>




            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('marital_status').value=this.options[this.selectedIndex].text; document.getElementById('marital_status').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Married-­civ-­spouse">Married, Civilian Spouse</option>
                <option value="Married-­AF­-spouse">Married, Air Force Spouse</option>
                <option value="Married-­spouse-­absent">Married but spouse ­absent</option>
                <option value="Divorced">Divorced</option>
                <option value="Never Married">Never Married</option>
                <option value="Separated">Separated</option>
                <option value="Widowed">Widowed</option>
              </select>
              <input type="text" name="marital_status" id="marital_status"
                     placeholder="Marital Status" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>
            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('occupation').value=this.options[this.selectedIndex].text; document.getElementById('occupation').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Tech-support">Tech Support</option>
                <option value="Craft-repair">Craft Repair</option>
                <option value="Armed-Forces">Armed Forces</option>
                <option value="Sales">Sales</option>
                <option value="Exec-managerial">Executive/Management</option>
                <option value="Handlers-cleaners">Handlers/Cleaners</option>
                <option value="Machine-op-inspct">Machine Inspector</option>
                <option value="Adm-clerical">Clerical</option>
                <option value="Farming-fishing">Farming/Fishing</option>
                <option value="Transport-moving">Transport Moving</option>
                <option value="Prof-specialty">Profissional Specialty</option>
                <option value="Priv-house-serv">Private House Service</option>
                <option value="Protective-serv">Protective Service</option>
                <option value="Other-service">Other Service</option>
              </select>
              <input type="text" name="occupation" id="occupation"
                     placeholder="Occupation" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>
            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('race').value=this.options[this.selectedIndex].text; document.getElementById('race').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="White">Caucasian</option>
                <option value="Asian-Pac-Islander">Asian/Pacific/Islander</option>
                <option value="Amer-Indian-Eskimo">American/Indian/Eskimo</option>
                <option value="Black">African</option>
                <option value="Other">Other</option>
              </select>
              <input type="text" name="race" id="race"
                     placeholder="Race" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>
            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('sex').value=this.options[this.selectedIndex].text; document.getElementById('sex').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <input type="text" name="sex" id="sex"
                     placeholder="Sex" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>

            <input type="text" placeholder="Hours per Week" name="hours_per_week" style="width: 5%; font-size: 110%;" >

            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('native_country').value=this.options[this.selectedIndex].text; document.getElementById('native_country').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Cambodia">Cambodia</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="Columbia">Columbia</option>
                <option value="Cuba">Cuba</option>
                <option value="Dominican-­Republic">Dominican ­Republic</option>
                <option value="Ecuador">Ecuador</option>
                <option value="El­-Salvador">El­ Salvador</option>
                <option value="England">England</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Greece">Greece</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Haiti">Haiti</option>
                <option value="Holand­-Netherlands">Holand­ Netherlands</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong">Hong</option>
                <option value="Hungary">Hungary</option>
                <option value="India">India</option>
                <option value="Iran">Iran</option>
                <option value="Ireland">Ireland</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Laos">Laos</option>
                <option value="Mexico">Mexico</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Outlying-US(Guam-USVI-etc)">Outlying­ US(Guam-­USVI-­etc)</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto-­Rico">Puerto-­Rico</option>
                <option value="South">South</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Thailand">Thailand</option>
                <option value="Trinadad&Tobago">Trinadad&Tobago</option>
                <option value="United-­States">United-­States</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Yugoslavia">Yugoslavia</option>
              </select>
              <input type="text" name="native_country" id="native_country"
                     placeholder="Native Country" onfocus="this.select()"
                  style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>
            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('classifier').value=this.options[this.selectedIndex].text; document.getElementById('classifier').value=this.options[this.selectedIndex].value;">

                <option></option>
                <option value="Random Forest">Random Forest</option>
                <option value="DT">Decision Tree</option>
                <option value="Naive Bayes">Naive Bayes</option>
                <option value="KNN">K-Nearest Neighbour</option>
                <option value="Logistic Regression">Logistic Regression</option>
                <option value="SVC">Support Vector Machines</option>
                <option value="LDA">Linear Discriminant Analysis</option>
                <option value="SGD">Stochastic Gradient Descent</option>
                <option value="MLP">Neural Networks</option>
                <option value="bagging">Bagging</option>
                <option value="stacking">Stacking</option>
                <option value="AdaBoost">AdaBoost</option>
                <option value="GraBoost">GraBoost</option>
                <option value="XGB">XGBoost</option>
                <option value="CAT">CATBoost</option>
                <option value="blending_2_best">Ensemble Blend 2 Best</option>
                <option value="blending_3_best">Ensemble Blend 3 Best</option>
                <option value="blending_4_best">Ensemble Blend 4 Best</option>
                <option value="blending_5_best">Ensemble Blend 5 Best</option>
                <option value="SoftVoter_2_best">Ensemble Soft Voter 2 Best</option>
                <option value="SoftVoter_3_best">Ensemble Soft Voter 3 Best</option>
                <option value="SoftVoter_4_best">Ensemble Soft Voter 4 Best</option>
                <option value="SoftVoter_5_best">Ensemble Soft Voter 5 Best</option>


              </select>



              <input type="text" name="classifier" id="classifier"
                     placeholder="Classifier" onfocus="this.select()"
                   style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
            </div>
            <button style="display: inline-block;margin-left:1%;" type="submit" name="namequery" class="btn btn-primary">Classify</button>

		</form><form style="display: inline-block;" action="{{ url_for('compare_classifiers')}}" method="POST"><button tyle="display: inline-block;"  type="submit" name="button1" class="btn btn-primary">Compare the Different Classifiers</button></form>

        <div>
            <p style="line-height:90%;margin:0%;"><br></p> <b>Fields:</b>
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Age:</u> Positive Integer (0-99)
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Workclass:</u> Private, Self Employed Not Incorporated, Self Employed Incorporated, Federal Government, Local Government, State Government, Without Pay, Never Worked
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Education:</u> Preschool, 1st-4th, 5th-6th, 7th-8th, 9th, 10th, 11th, 12th, High School Graduated, Professor at School, Associate Acdm, Associate Voc, Some College, Bachelors, Masters, Doctorate
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Marital Status:</u> Married, Civilian Spouse, Married, Air Force Spouse, Married but spouse ­absent, Divorced, Never Married, Separated, Widowed
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Occupation:</u> Tech Support, Craft Repair, Armed Forces, Sales, Executive/Management, Handlers/Cleaners, Machine Inspector, Clerical, Farming/Fishing, Transport Moving, Profissional Specialty, Private House Service, Protective Service, Other Service
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Race:</u> Caucasian, African, Asian/Pacific/Islander, American/Indian/Eskimo, Other.
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Sex:</u> Female, Male.
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Hours per Week:</u> Positive Integer (0-50)
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Native country:</u> United-­States, Cambodia, England, Puerto ­Rico, Canada, Germany, Outlying­ US(Guam-­USVI-­etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El­ Salvador, Trinadad&Tobago, Peru, Hong, Holand­-Netherlands


            <br></br>
            <p style="line-height:85%;margin:0%;"><br></p> <b>Every time a field is not filled or it does not respect the boundary values, the algorithm will assume the mode values of the US census for each respective field. The default classifier will be the Random Forest Classifier.</b>
            <p style="line-height:85%;margin:0%;"><br></p> <b>Detail of the code and all the analysis behind this app can be seen <a href="https://github.com/joelpires/predictML/blob/master/census.ipynb">here</a>.</b>
            <p style="line-height:85%;margin:0%;"><br></p> <b>The dataset that I used to train the algorithms was <a href="https://archive.ics.uci.edu/ml/datasets/Adult">this</a>.</b>

        </div>


  </div>
</div>























<div class="panel-heading" align="center" class="jumbotron" style="background-color:#E5E5FF !important; width: 100%; margin: 0;">
    <h1 style="line-height: 150%;font-size: 202%; "><b>Predict the Price of US Citizens' Houses Based on their Features</b></h1>
</div>
<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#7F0000 ">Insert Features and the Chosen Predictive Algorithm:</div>
      <div class="panel-body" style="display: inline;" >

      	<form action="{{ url_for('predict')}}" method="POST" style="display: inline;margin-left: 0.6%; " >
            <input type="text" placeholder="Lot Area" name="LotArea" style="width: 7%; font-size: 110%;" >
            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('Street').value=this.options[this.selectedIndex].text; document.getElementById('Street').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Pave">Pave</option>
                <option value="Grvl">Gravel</option>
              </select>
              <input type="text" name="Street" id="Street"
                     placeholder="Access Type" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
              <input name="Street" id="Street" type="hidden">
            </div>


            <input type="text" placeholder="Year Built" name="YearBuilt" style="width: 7%; font-size: 110%;" >

            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('RoofStyle').value=this.options[this.selectedIndex].text; document.getElementById('RoofStyle').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Gable">Gable</option>
                <option value="Hip">Hip</option>
                <option value="Gambrel">Gambrel</option>
                <option value="Mansard">Mansard</option>
                <option value="Flat">Flat</option>
                <option value="Shed">Shed</option>
              </select>
              <input type="text" name="RoofStyle" id="RoofStyle"
                     placeholder="Roof Style" onfocus="this.select()"
                     style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
              <input name="RoofStyle" id="RoofStyle" type="hidden">
            </div>




            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('CentralAir').value=this.options[this.selectedIndex].text; document.getElementById('CentralAir').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
              <input type="text" name="CentralAir" id="CentralAir"
                     placeholder="CentralAir" onfocus="this.select()"
                      style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
              <input name="CentralAir" id="CentralAir" type="hidden">
            </div>

            <input type="text" placeholder="Nº Bedrooms" name="BedroomAbvGr" style="width: 6%; font-size: 110%;" >
            <input type="text" placeholder="Nº Kitchens" name="KitchenAbvGr" style="width: 6%; font-size: 110%;" >
            <input type="text" placeholder="Nº Fireplaces" name="Fireplaces" style="width: 6%; font-size: 110%;" >
            <input type="text" placeholder="Garage Area" name="GarageArea" style="width: 7%; font-size: 110%;" >
            <input type="text" placeholder="Pool Area" name="PoolArea" style="width: 7%; font-size: 110%;" >


            <div style="display: inline-block;position:relative;width:8%;border:0;padding-top:0%;margin-top:0%;margin-bottom:1.05%;">
              <select style="position:absolute;width:100%;font-size: 155%;"
                      onchange="document.getElementById('predictive').value=this.options[this.selectedIndex].text; document.getElementById('predictive').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="Random Forest">Random Forest</option>
                <option value="Ridge">Linear Regression + Ridge</option>
                <option value="Lasso">Linear Regression + Lasso</option>
                <option value="SVR">Support Vector Regressor</option>
                <option value="GraBoost">GraBoost</option>
                <option value="AdaBoost">AdaBoost</option>
                <option value="XGB">XGBoost</option>
                <option value="CAT">CATBoost</option>
                <option value="bagging">Bagging</option>
                <option value="stacking">Stacking</option>
                <option value="blending_2_best">Ensemble Blend 2 Best</option>
                <option value="blending_3_best">Ensemble Blend 3 Best</option>
                <option value="blending_4_best">Ensemble Blend 4 Best</option>
                <option value="voter_2_best">Ensemble Voter 2 Best</option>
                <option value="voter_3_best">Ensemble Voter 3 Best</option>
                <option value="voter_4_best">Ensemble Voter 4 Best</option>


              </select>
              <input type="text" name="predictive" id="predictive"
                     placeholder="Predictive Algorithm" onfocus="this.select()"
                      style="position:absolute;width:90%;border:0.5% solid #556;font-size: 110%;"  >
              <input name="predictive" id="predictive" type="hidden">
            </div>
            <button  style="display: inline-block;margin-left:1%;" type="submit" class="btn btn-primary" >Predict</button>
        </form><form style="display: inline;" action="{{ url_for('compare_predictors')}}" method="POST"><button  style="display: inline-block;"  type="submit" name="button1" class="btn btn-primary">Compare the Different Predictors</button></form>



        <div style="margin-left: 0.6%;">
            <p style="line-height:90%;margin:0%;"><br></p> <b>Fields:</b>
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Lot Area:</u> Lot Area in Square Feet. Positive Integer.
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Street:</u>Condition of the street to access the house. It can be: 'Pave' or 'Gravel'
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Year Built:</u> Year of Contruction Completion (more than 1800 and less than 2020)
            <p style="line-height:85%;margin:0%;"><br></p>| <u>RoofStyle:</u> Type of roof. It can be one of the following: 'Gable', 'Hip', 'Gambrel', 'Mansard', 'Flat' or 'Shed'.
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Air Conditioner:</u> Does it have Air Conditioner? "Yes" or "No"
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Nº of Bedrooms:</u> Total Number of Bedrooms. Positive Integer (at least one).
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Nº of Kitchens:</u> Total Number of Kitchens. Positive Integer (at least one).
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Nº of Fireplaces:</u> Total Number of Fireplaces. Positive Integer.
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Garage Area:</u> Area of the garage in square feet. Positive Integer (0 if does not have a garage).
            <p style="line-height:85%;margin:0%;"><br></p>| <u>Pool Area:</u> Area of the pool in square feet. Positive Integer (0 if does not have a pool).


            <br></br>
            <p style="line-height:85%;margin:0%;"><br></p> <b>Every time a field is not filled or it does not respect the boundary values, the algorithm will assume the mode values of the training dataset for each respective field. The default classifier will be the Random Forest Regressor.</b>
            <p style="line-height:85%;margin:0%;"><br></p> <b>Detail of the code and all the analysis behind this app can be seen <a href="https://github.com/joelpires/predictML/blob/master/houses.ipynb">here</a>.</b>
            <p style="line-height:85%;margin:0%;"><br></p> <b>The dataset that I used to train the algorithms was <a href="https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data">this</a>.</b>

        </div>



  </div>
</div>

{% endblock %}

{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}
</body>
