{% extends "bootstrap/base.html" %}
{% block content %}

  <div class="panel-heading" class="jumbotron" style="background-color:#FFFFFF !important; width: 100%; margin: 0;">
    <h2 >Classifying Income Based on Socio-Economic Information of People Retrieved from Censuses </h2>
  </div>



<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#7F0000 ">Insert Features</div>
      <div class="panel-body">

<!-- Main Input For Receiving Query to our ML -->
      	<form action="{{ url_for('predict')}}" method="POST">
			<input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 5%;">
            <input type="text" name="namequery" style="width: 10%;">
            <button type="submit" class="btn btn-primary">Classify</button>
            <button type="submit" class="btn btn-primary">Show Ranking</button>
            <br></br>
            Age (0-99):
            Workclass (Self-emp-inc|Private):
            final-weight:
			</form>

<!-- Main Input For Receiving Query to our ML -->


      </div>
    </div>



    <div class="panel-heading" class="jumbotron" style="background-color:#FFFFFF !important; width: 100%; margin: 0;">
      <h2 >Classify Whether the Bank Should Grant Credit or Not</h2>
    </div>



  <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#7F0000 ">Insert Features</div>
        <div class="panel-body">

  <!-- Main Input For Receiving Query to our ML -->
        	<form action="{{ url_for('predict')}}" method="POST">
  			<input type="text" name="namequery">
  			<button type="submit" class="btn btn-primary">Predict</button>
  			</form>

  <!-- Main Input For Receiving Query to our ML -->


        </div>
      </div>




{% endblock %}

{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}
