{% extends "bootstrap/base.html" %}
{% block content %}
<body style="background-color:#FFFFFF;">

<b><a style="font-size:120%;position: absolute;top: 2%;left: 14.3%;" href="{{ url_for('index') }}">Back to Home</a></b>
<b><p style="font-size:120%; position: absolute;top: 13%;left: 15.3%;">Answer:</p></b>
<br></br>
<b><p style="font-size:128.5%; position: absolute;top: 19%;left: 9.1%;"><u>{{prediction}}</u></p></b>

<div>
    <div style="
    position: absolute;top: 0%;left: 33.7%;
    width: 16.5%; /* width of container */
    height: 34.5%; /* height of container */
    overflow: hidden;
    border: 5px solid black;
    ">
      <img
      src="{{url_for('static', filename='results/house_prices/')}}{{name}}/feature_importance.PNG" style="position: absolute;top: 0%;right: 0%;" width="100%" height="100%"

    </div>
</div>


<div>
    <div style="
    position: absolute;top: 34.3%;left: 0%;
    width: 51%; /* width of container */
    height: 9%; /* height of container */
    overflow: hidden;
    border: 5px solid black;
    ">
      <img
      src="{{url_for('static', filename='results/house_prices/')}}{{name}}/average_results.png" style="position: absolute;top: -5%;left: -11.6%;" width="111%" height="109%"

    </div>
</div>


<div>
    <div style="
    position: absolute;bottom: -0%;left: 0%;
    width: 50.1%; /* width of container */
    height: 57.2%; /* height of container */
    overflow: hidden;
    border: 5px solid black;
    ">
      <img
      src="{{url_for('static', filename='results/house_prices/')}}{{name}}/performance_metrics.png"style="position: absolute;bottom: -1%;right: 1.5%;" width="98%" height="96.5%"

    </div>
</div>



<div>
    <div style="
    position: absolute;bottom: -0%;right: 0%;
    width: 50%; /* width of container */
    height: 57.2%; /* height of container */
    overflow: hidden;
    border: 5px solid black;
    ">
      <img
      src="{{url_for('static', filename='results/house_prices/')}}{{name}}/overfitting_underfitting.png" style="position: absolute;bottom: 1%;right: 2%;" width="96%" height="92%"

    </div>
</div>





<div>
    <div style="
    position: absolute;top: 0%;right: 0%;
    width: 50%; /* width of container */
    height: 46.9%; /* height of container */
    overflow: hidden;
    border: 5px solid black;
    margin: -50px 0px 0px -0px;
    ">
      <img
      src="{{url_for('static', filename='results/house_prices/')}}{{name}}/learning_curve.png"  style="position: absolute;top: 7.5%;right: 0%;" width="100%" height="95%"

    </div>
</div>


{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

</body>
